/*** component-rating ***/
  
.rating {
    display: inline-block;
    margin: 0;
  }
  
  .product .rating-star {
    --letter-spacing: 0.8;
    --font-size: 1.7;
  }
  
  .card-wrapper .rating-star {
    --letter-spacing: 0.7;
    --font-size: 1.4;
  }
  
  .rating-star {
    --percent: calc(
      (
          var(--rating) / var(--rating-max) + var(--rating-decimal) *
            var(--font-size) /
            (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
        ) * 100%
    );
    letter-spacing: calc(var(--letter-spacing) * 1rem);
    font-size: calc(var(--font-size) * 1rem);
    line-height: 1;
    display: inline-block;
    font-family: Times;
    margin: 0;
  }
  
  .rating-star::before {
    content: '★★★★★';
    background: linear-gradient(
      90deg,
      var(--color-icon) var(--percent),
      rgba(var(--color-foreground), 0.15) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .rating-text {
    display: none;
  }
  
  .rating-count {
    display: inline-block;
    margin: 0;
  }
  
  @media (forced-colors: active) {
    .rating {
      display: none;
    }
  
    .rating-text {
      display: block;
    }
  }
  
  /*** component-loading-overlay ***/
  
  .loading-overlay {
    position: absolute;
    z-index: 1;
    width: 1.8rem;
  }
  
  @media screen and (max-width: 749px) {
    .loading-overlay {
      top: 0;
      right: 0;
    }
  }
  
  @media screen and (min-width: 750px) {
    .loading-overlay {
      left: 0;
    }
  }
  
  .loading-overlay__spinner {
    width: 1.8rem;
    display: inline-block;
  }
  
  .spinner {
    animation: rotator 1.4s linear infinite;
  }
  
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  
  .path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: rgb(var(--color-foreground));
    animation: dash 1.4s ease-in-out infinite;
  }
  
  @media screen and (forced-colors: active) {
    .path{
      stroke: CanvasText;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 280;
    }
    50% {
      stroke-dashoffset: 75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 280;
      transform: rotate(450deg);
    }
  }
  
  .loading-overlay:not(.hidden) + .cart-item__price-wrapper,
  .loading-overlay:not(.hidden) ~ cart-remove-button {
    opacity: 50%;
  }
  
  .loading-overlay:not(.hidden) ~ cart-remove-button {
    pointer-events: none;
    cursor: default;
  }